@media(max-width: 570px){
   .footer__inner{
       display: block;
   }
   .footer__text{
       width: 100%;
       margin-right: 0;
       text-align: center;
   }
   .footer__text p + p{
       margin-top: 10px;
       margin-bottom: 30px;
   }
   .footer__menu, .footer__links{
       margin-right: 0;
       width: 100%;
   }
   .footer__menu{
       margin-bottom: 50px;
   }
   footer{
       padding-bottom: 100px;
       text-align: center;
   }
}